.ManageInventory {
    padding: 100px 0;
}

.manageInventory__title {
    text-align: center;
}

.manageInventory__title h2 {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 3px solid #ff0000;
    padding-bottom: 3px;
}

.manageInventory__content {
    background: #161515;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
}