.Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    padding: 5px 0;
}

.header__logo img {
    width: 180px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu ul li {
    display: inline-block;
    margin-left: -4px;
}

.header__menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    color: #fff;
    font-weight: 500;
}

.header__account {
    margin-left: 20px;
}

.header__login__button button {
    display: inline-block;
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    background: #ff0000;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.profile__button {
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

.profile__button img {
	width: 60px;
	border-radius: 50%;
	border: 2px solid #f00;
	padding: 4px;
}

.profile__menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #161515;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
}

.profile__menu ul {
    list-style: none;
}

.profile__menu ul li {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}