.Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    padding: 5px 0;
}

.mobile__menu {
    display: none;
}

.header__logo img {
    width: 180px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu ul li {
    display: inline-block;
    margin-left: -4px;
}

.header__menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    color: #fff;
    font-weight: 500;
}

.header__account {
    margin-left: 20px;
}

.header__login__button button {
    display: inline-block;
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    background: #ff0000;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.profile__button {
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

.profile__button img {
    width: 60px;
    border-radius: 50px;
    border: 2px solid #f00;
    padding: 4px;
    color: #fff;
}

.profile__menu {
	position: absolute;
	top: 100%;
	right: 0;
	background: #161515;
	width: 250px;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #ff0000;
}

.profile__menu ul {
    list-style: none;
}

.profile__menu ul li {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*================ Responsive =================*/


@media all and (min-width: 200px) and (max-width: 768px) {
    .desktop__menu {
        display: none;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu .header__content {
        position: relative;
    }

    .mobile__menu .header__nav {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 100%;
        right: 0;
        background: #161515;
        width: 250px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #ff0000;
    }

    .mobile__menu .header__menu ul li {
        display: block;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .mobile__menu .header__account {
        margin-left: -20px;
    }

    .mobile__menu .header__menu__icon button {
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .header__logo img {
        width: 150px;
        margin-top: 5px;
    }
}

@media all and (min-width: 200px) and (max-width:480px) {
    .header__logo img {
        width: 120px;
        margin-top: 5px;
    }

    .mobile__menu .profile__menu {
        right: -120%;
    }
}