* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

img {
    max-width: 100%;
}

body {
    background: #000;
}

h1,h2,h3,h4,h5,h6, p {
    color: #fff;
}

.toastContainer {
    background: #161515 !important;
}

.toastProgress {
    background: #ff0000 !important;
}

.toastBody {
    color: #fff;
}

.Toastify__close-button--light {
    color: #fff !important;
    opacity: 1 !important;
}